* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #f3e9e8;
  width: 100%;
  color: #57251E;

  overflow-x: hidden;
}

header {
  height: 4.6rem;
  background-color: #b57971;
  opacity: 90%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header2 {
  opacity: 0.8;
  height: 5rem;
  justify-content: center;
  gap: 2px;
}

  .icon {
    height: 3.4rem;
    width: 3.4rem;
  }
  
  .icon:hover {
    cursor: pointer;
    color: #dabab6;
  }

.left-nav{
  display: flex;
  align-items: center;
}

.logo {
  height: 3.4rem;
}

.title {
  font-weight: 500;
  padding-left: 0.4rem;
}

.nav-link{
    font-size: 2.4rem;
    text-decoration: none;
    padding-right: 0.8rem;
    color: #57251E;
}

.nav-link:hover{
  cursor: pointer;
    color: #dabab6;
}

.container {
  height: 100vh;
  margin: 0 auto;
}

.section-home{
  text-align: center;
  color: #57251E;
}

.home-box-back{
  height: 40rem;
  background-image: url(imagens/chocolate-homebox.png);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: flex-start
}

.home-box{
  background-color: #dfbcb7ce;
  clip-path: polygon(0% 0%, 84% 0, 100% 50%, 85% 100%, 0% 100%);
  width: 80rem;
  padding: 8rem;
  text-align: start;
}

.cabecalho1{
  font-size: 7.6rem;
}

.cabecalho2{
  font-size: 3.6rem;
}

.home-text-img{
  display: flex;
  padding: 5rem;
  justify-content: center;
  align-items: center;
  gap: 20rem;
}

.home-img{
  height: 25rem;
  clip-path: circle(50% at 50% 50%);
}

.home-text{
  height: 35rem;
  width: 70rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-text-title{
  font-size: 3.6rem;
}

.section-produtos{
  background-image: linear-gradient(
    rgba(180, 119, 119, 0.788),
    rgba(141, 72, 72, 0.631)
  ),url(imagens/chocolates-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}