* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #f3e9e8;
  width: 100%;
  color: #57251E;

  overflow-x: hidden;
}

header {
  height: 4.6rem;
  background-color: #D6948B;
  opacity: 90%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.left-nav{
  display: flex;
  align-items: center;
}

.logo {
  height: 3.4rem;
}

.title {
  font-weight: 500;
  padding-left: 0.4rem;
}

.nav-link{
    font-size: 2.4rem;
    text-decoration: none;
    padding-right: 0.8rem;
    color: #57251E;
}

.container {
  height: 100vh;
  margin: 0 auto;
}

.section-home{
  text-align: center;
  padding: 8rem;
}

.home-box{
  background-image: linear-gradient(rgba(255, 255, 255, 0.421), rgba(255, 255, 255, 0.347)), url(imagens/chocolates-background.jpg);
  height: 30rem;
  border-radius: 1rem;
}

.cabecalho1{
  font-size: 7.6rem;
  opacity: 1;
}

.cabecalho2{
  font-size: 3.6rem;
  opacity: 1;
}

.home-text-img{
  display: flex;
  padding: 5rem;
  justify-content: center;
  gap: 20rem;
}

.home-text{
  width: 50rem;
}

.home-img{
  height: 35rem;
  border-radius: 1rem;
}


.section-novidades{
  display: flex;
}

.img-novidade{
  height: 50rem;
  border-radius: 1rem;
}